<%- include ('header') %>
<div class="container-scroller d-flex">
<%- include('nav') %>
<div class="container-fluid page-body-wrapper">
    <%- include('navhead') %>
        <%- body %>
    </div>
</div>
<%- include ('footer') %>