<nav class="navbar col-lg-12 col-12 px-0 py-0 py-lg-4 d-flex flex-row">
  <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
      <span class="mdi mdi-menu"></span>
    </button>
    <h4 class="font-weight-bold mb-0 d-none d-md-block mt-1">Welcome back, <%= akun.username %></h4>
    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item">
        <h4 class="mb-0 font-weight-bold d-none d-xl-block">Mar 12, 2019 - Apr 10, 2019</h4>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
      <span class="mdi mdi-menu"></span>
    </button>
  </div>
  <%
  let ongoing=null
  if(data[0]){
    ongoing=data[0].status
    console.log(ongoing)
  }
  %>

  <% if(akun.role == 1) {%>
  <div class="navbar-menu-wrapper d-none d-lg-flex align-items-center">
    <!-- Button 1 -->
    <% if(ongoing <= 1){ %>
    <div class="btn btn-rounded" style="background-color:<%= data[0]&& (data[0].status == 1 || data[0].status > 1) ? 'rgba(255, 123, 0, 0.9)' : 'rgba(249, 249, 249, 0.9)' %>">
      Pendaftaran (Oleh User)
    </div>
    <% } else { %>
    <div class="btn btn-rounded" style="background-color:rgb(174, 255, 0)">
      Pendaftaran (Oleh User)
    </div>
    <% } %>
    <!-- Arrow 1 -->
    <div class="btn-rounded" style="color: antiquewhite;">
      <h1><i class="mdi mdi-arrow-right"></i></h1>
    </div>

    <!-- Button 2 -->
    <% if(ongoing <= 2){ %>
    <div class="btn btn-rounded" style="background-color: <%= (data[0]&&data[0].status == 2) ? 'rgba(255, 123, 0, 0.9)' : 'rgba(249, 249, 249, 0.9)' %>">
      Konfirmasi SDM (Oleh Admin)
    </div>
    <% } else { %>
    <div class="btn btn-rounded" style="background-color:rgb(174, 255, 0)">
      Konfirmasi SDM (Oleh Admin)
    </div>
    <% } %>

    <!-- Arrow 2 -->
    <div class="btn-rounded" style="color: antiquewhite;">
      <h1><i class="mdi mdi-arrow-right"></i></h1>
    </div>

    <!-- Button 3 -->
    <% if(ongoing <= 3){ %>
    <div class="btn btn-rounded" style="background-color: <%= (data[0]&&data[0].status == 3) ? 'rgba(255, 123, 0, 0.9)' : 'rgba(249, 249, 249, 0.9)' %>">
      Konfirmasi Biro Tujuan (Oleh Admin)
    </div>
    <% } else { %>
    <div class="btn btn-rounded" style="background-color: rgb(174, 255, 0)">
      Konfirmasi Biro Tujuan (Oleh Admin)
    </div>
    <% } %>
    <!-- Arrow 3 -->
    <div class="btn-rounded" style="color: antiquewhite;">
      <h1><i class="mdi mdi-arrow-right"></i></h1>
    </div>

    <!-- Button 4 -->
    <div class="btn btn-rounded" style="background-color: <%= (data[0]&&data[0].status == 4) ? 'rgba(255, 123, 0, 0.9)' : 'rgba(249, 249, 249, 0.9)' %>;">
      Hasil
    </div>
  </div>
  <% } %>


</nav>